h1 {
    color: rgb(185, 59, 59);

}

body {
    background-color: rgb(243, 194, 204);
}

h1 {
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    border-radius: 25px;
    border-color: black;
}

p {
    color: rgb(185, 59, 59);
    font-size: 25px;
    font-style: italic;
  
}

ol {
    font-size: 20px;
    font-style: unset;
    color: rgb(124, 1, 1);

    
}

img {
    width: 350px; 
    /* Esse é largura */
    /* height: 200px; */
    /* Esse é altura */
    
}

a {
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgb(185, 59, 59);
    border-radius: 25px;
    border-radius: 20%;
    background-color: rgb(243, 194, 204);
    margin: 10px auto;

    text-align: center;
    font-size: 30px;
}
    #estrofe-meio{
        text-align: center;
    }

#musicas-meio{
    text-align: center;
}

div{
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: rgb(185, 59, 59); 
    border-style: solid;
}

#imagem1{
    width:  800px;
    display: block;
    margin: auto;
}

#aespa{
    width: 500px ;
}

#maniac{
    width: 500px;
}

#snsd{
    width: 500px;
}

#redvelvet{
    width: 500px;
}

#lana{
    width: 500px;
}

#laninha{
    width: 500px;
}

#jennie{
    width: 500px;
}

#rose{
    width: 500px;
}

#twice{
    width: 500px;
}

a:hover {
    background-color: rgb(185, 59, 59);
    color: rgb(61, 4, 4); ;
}